# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Ruby
*.gem
*.rb
Gemfile
Gemfile.lock
vendor/bundle

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Temporary files
*.tmp
*.temp
blog-preview.html
